<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4"  style="color: #1f1f89;">
              <i class="fas fa-gem me-3 text-secondary" ></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4"  style="color: #1f1f89;">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
         
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: #1f1f89;">Kontakt</h6>
            <p ><a href="https://www.google.com/search?sa=X&sxsrf=AJOqlzXB_aGxVYvv6VZEoTYBx0i0mc-62w:1676373441881&q=adresa%20malo%20durres&ved=2ahUKEwiQjo7c8ZT9AhXiQfEDHTbkCUEQvS56BAgLEAE&biw=1536&bih=714&dpr=1.25&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=14567194129146851324&lqi=ChJhZHJlc2EgbWFsbyBkdXJyZXNIp-KU2OeqgIAIWiAQABABEAIYASISYWRyZXNhIG1hbG8gZHVycmVzMgJzcZIBD3dpbmVfd2hvbGVzYWxlcqoBNBABGh8QASIb1v7fRXfyz5PVmXlWUikh_vmAcz0jpFbcpoxXKg8iC2FkcmVzYSBtYWxvKC0&rlst=f#rlfi=hd:;si:14567194129146851324,l,ChJhZHJlc2EgbWFsbyBkdXJyZXNIp-KU2OeqgIAIWiAQABABEAIYASISYWRyZXNhIG1hbG8gZHVycmVzMgJzcZIBD3dpbmVfd2hvbGVzYWxlcqoBNBABGh8QASIb1v7fRXfyz5PVmXlWUikh_vmAcz0jpFbcpoxXKg8iC2FkcmVzYSBtYWxvKC0;mv:[[41.314366799999995,19.4916111],[41.3060642,19.4537719]];tbs:lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank" style="text-decoration: none;"><i class="fas fa-home me-3 text-secondary"></i> Durres Plazh Lagja 13, Shqiperi</a></p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@malogroup.al
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 355 69 20 71 431</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 355 69 20 20 847</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 355 52 260 732</p>
            <div>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-github"></i>
                </a>
              </div>
          </div>
          
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #1f1f89; color: #fff;">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="http://www.malogroupal.com/" style="text-decoration: none;">Malo Group Albania</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->