<body>
 
   
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center vh-100">
                <div class="col-md-6 text-center p-20">
                    <h3 class="albania text-end" style="color: red;width:80%;text-transform: uppercase;font-weight: 700;font-size:16px;">Albania</h3>
                   
                    <h1 class="pasta px-0 m-0">Pasta Reggia</h1>
                
                    <p>
                        La Pasta si produce con pura semola di grano duro, acqua e senza nessun conservante perché è
                        l’essiccazione del prodotto che ne permette una naturale conservabilità. Nessun colorante e
                        così guardando in controluce un fascio di spaghetti possiamo ritrovare la luminosità del
                        sole assorbita del chicco di grano e restituita dalla semola.
                    </p>
                    <!-- <button type="button" class="btn btn-rounded btn-light" data-mdb-ripple-color="light" style="color: #1f1f89;">Read -->
                        <a href="#" class="btn btn-lg">Me shume...</a>
                            
                        
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    
</body>
