<body>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center vh-100">
        <div class="col-md-6 text-center p-20">
          <h3 class="albania text-end" style="color: red;width:80%;text-transform: uppercase;font-weight: 700;font-size:16px;">{{ 'Albania' | translate }}</h3>
          <h1 class="pasta px-0 m-0">{{ 'Pasta Reggia' | translate }}</h1>
          <p>{{ 'hyrja' | translate }}</p>
          <a href="about" class="btn btn-lg">{{'Me shume...' | translate}}</a>
                            
                        
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    
</body>
  