  body{
      background: url('../../assets/pasta-images/pastaback6.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;

  }
  .row{
    overflow: auto;
    max-height: 637px;
  }
  .albania{
    font-family: Open Sans;
    margin-bottom: -13px;
  }
  .myBorder {
    display: inline-block;
    border-bottom-width: 15px;
    border-bottom-style: solid;
    border-color: #1f1f89;
  }
  .pasta {
   font-family: 'Great Vibes', cursive;
    font-size: 4rem;
  
    font-weight: 700;
    color: #1f1f89;
    margin: 20px 0 0;
  }

  .btn {
   
    background-color: #fff;
    color: #1f1f89;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition:all 0.3s ease 0s;
    margin-top: 40px;
    
}
.btn:hover,
.btn.active:hover{
    color: #1f1f89;
}
.btn:before{
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color:#1f1f89;
    width: 30%;
    height: 4px;
    transition:all 0.3s ease 0s;
}
.btn:after{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color:#1f1f89;
    width: 30%;
    height: 4px;
    transition:all 0.3s ease 0s;
}
.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after{
    width: 100%;
}

@media screen and (max-width: 575px){
    .btn{
        margin-bottom: 50px !important;
    }
}
  




  @media only screen and (max-width: 600px) {
    body{
      background-color: white;
      background-image: none;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    body{
      background-color: white;
      background-image: none;
    }
  }
  
  /* @media only screen and (min-width: 768px) {
    body{
      background-color: white;
      background-image: none;
    }
  } */
  




