<section>
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">{{ 'Kush jemi ne?'| translate }}</h1>
                    <p class="image-aboutus-para">{{'Ne jemi cfare ju kerkoni...' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bread-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a href="" style="color:  #1f1f89; text-decoration: none;">{{'Kryefaqja' | translate}}</a>
                        </li>
                        <li class="active">{{'Reth nesh' | translate}}</li>
                    </ol>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-section paddingTB60">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="strong">Pastificio Antonio <br>Pallante</h1>
                    <p class="lead">{{'Qe prej vitit 1949...' | translate}}</p>
                </div>
                <div class="col-md-6">
                    <p>{{'p1' | translate}}</p>
                    <p>{{'p2' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <section id="why-us" class="why-us section-bg">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                    <div class="content">
                        <h3 style="color: #1f1f89;">{{'Perse' | translate}} <strong>{{'ne?' | translate}}</strong></h3>
                    </div>
                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse"
                                    data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at
                                    lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        Fabrika e Antonio Pallante përbëhet nga 5 linja prodhimi dhe 13 linja të
                                        automatizuara paketimi për jastëkë dhe pako.Gjithashtu ka 2 makineri paketimi
                                        për kuti kartoni.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                    class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i
                                        class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                                        interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus
                                        scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
                                        Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                    class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i
                                        class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
                                        Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl
                                        suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis
                                        convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 order-1 order-lg-2 why-us-img">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="640" height="340" src="https://www.youtube.com/embed/PkmtKU7oFV0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen style="padding-right: 40px;"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section> -->





<div class="container-1 bootstrap snippets bootdeys">
    <div class="row row-1">
        <div class="col-lg-4 col-md-6 col-sm-12 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text">
                    <div class="content">
                        <h4 class="title title-card">Cilesia</h4>
                        <p class="description">Attilio Pallante, themeluesi i vërtetë i traditës së prodhimit të
                            makaronave, ka thënë me vendosmëri se nuk duhet të "sakrifikohet kurrë cilësia për vëllime".
                        </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color">
                    <div class="content">
                        <h4 class="title title-card">Cmimet konkurruese</h4>
                        <p class="description">Teknologjia e lartë në prodhim dhe procesi i mekanizimit i mundëson
                            kompanisë të konkurrojë në çmim duke ruajtur një produkt me cilësi të lartë.</p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text">
                    <div class="content">
                        <h4 class="title title-card">Biznes nderkombetar</h4>
                        <p class="description">Pastificio Antonio Pallante është transformuar nga një realitet që
                            plotëson nevojat e tregut vendas në një realitet qe ka zhvilluar marrëdhënie me klientëve në
                            mbarë botën</p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

            
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/big2.png" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/extra.png" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/conad1.png" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/kmy.jfif" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/star.png" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                        </div>
                 
                    </div>
               

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/coop.png" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/jata.jfif" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/joena.jfif" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="../../assets/pasta-images/spar.png" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                        </div>
                  
                    </div>
        

                </div>
     
            </div>
     
        </div>
    </div>
</div> -->
<!--    Certifikimet           -->
<!-- <div class="container">
    <h4>Certifikime</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="year">2010</span>
                        <div class="inner-content">
                            <a href="https://www.pastareggia.it/wp-content/uploads/cert/PASTIFICIO-ANTONIO-PALLANTE-SRL-9001.pdf"><h3 class="title">EN ISO 9001:2008</h3></a>
                             
                                <a href="https://www.pastareggia.it/wp-content/uploads/cert/PASTIFICIO-ANTONIO-PALLANTE-SRL-9001-ING.pdf"><h3 class="title">UNI EN ISO 9001:2008 - Ing</h3>
                                    </a>
                           
                        </div>

                    </a>

                </div>
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="year">2011</span>
                        <div class="inner-content">
                            <a href="https://www.pastareggia.it/wp-content/uploads/cert/PASTIFICIO-ANTONIO-PALLANTE-SRL-22000%20-2017-2020.pdf"><h3 class="title">UNI EN ISO 22005:2008 (sito)</h3>
                            </a>
                           

                        </div>
                        <div class="inner-content">
                            <a  href="https://www.pastareggia.it/wp-content/uploads/cert/PASTIFICIO-ANTONIO-PALLANTE-SRL-22005-di-sito.pdf"><h3 class="title">ISO 22000:2005</h3>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="year">2017</span>
                        <div class="inner-content">
                            <a href="https://www.pastareggia.it/wp-content/uploads/cert/PASTIFICIO-ANTONIO-PALLANTE-SRL-22005-di-filiera.pdf"><h3 class="title">UNI EN ISO 22005:2008 (filiera)</h3>
                            </a>
                        </div>
                        <div class="inner-content">
                            <a href="https://www.pastareggia.it/wp-content/uploads/cert/PASTIFICIO-ANTONIO-PALLANTE-SRL-IFS-Certification.pdf"><h3 class="title">IFS Food.Version 6</h3>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2018</span>
                        <div class="inner-content">
                            <a href="https://www.pastareggia.it/wp-content/uploads/cert/Pastificio-Antonio-Pallante-SRL-LOC-2018-pap.pdf"><h3 class="title">SRL-LOC 2018 pap</h3>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="year">2022</span>
                        <div class="inner-content">
                            <a href="https://www.pastareggia.it/wp-content/uploads/2023/01/Certificate-IT303659_PASTIFICIO-ANTONIO-PALLANTE-S.R.L-BRC-REV4.pdf"><h3 class="title">BRC Global Standard,Issue 6</h3>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->